<h1>Add a CD</h1>
<p>Add a CD here:</p>
<form action="/cds" method="post">
  <label for="CD-name">CD name</label>
  <input id="CD-name" name="CD-name" type="text">
  <label for="CD-artist">CD artist</label>
  <input id="CD-artist" name="CD-artist" type="text">
  <button type="submit">Add</button>
</form>
<p><a href="/">Back home</a></p>
