
<p>which artist would you like search by?</p>
<form action="/artist-search" method="post">
  <label for="search-artist">CD artist</label>
  <input id="search-artist" name="search-artist" type="text">
  <button type="submit">Add</button>
</form>
<p><a href="/">Back home</a></p>
